.container {
	padding: 20px;

	.values {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 20px;
		width: 30px;
		height: 400px;
		justify-content: flex-end;

		span {
			margin-top: 40px;
			height: 10px;
			font-size: 10px;

			&:first-child { margin-top: 0 }

			&:last-child { margin-bottom: -5px }
		}
	}

	.minutes {
		display: flex;

		span {
			width: 60px;
			height: 10px;
			text-align: center;
			font-size: 10px;

			&:first-child { margin-left: -30px }
		}
	}
}