.rates {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 400px;
	justify-content: flex-end;

	span {
		margin-top: 40px;
		height: 10px;
		font-size: 10px;

		&:first-child { margin-top: 0 }

		&:last-child { margin-bottom: -5px }
	}
}

svg {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 1845px;
	height: 400px;
}