.container {
	overflow-y: hidden;
	overflow-x: auto;
	width: 1865px;
	height: 500px;
	box-sizing: border-box;
	padding: 20px;

	.chart {
		overflow: hidden;
		width: inherit;

		svg {
			height: 400px;
			transform-origin: top;
		}
	}

	.minutes {
		display: flex;

		span {
			width: 18px;
			height: 10px;
			text-align: center;
			font-size: 10px;

			&:first-child { margin-left: -9px }
		}
	}
}